.daily {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(130px,auto));
    margin-top: 100px;
    gap: 20px;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
    background: var(--bg);
    padding: 20px;
    &__item {
        border-radius: 10px;
        background: rgba(71, 147, 255, 0.2);
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 7px;
        @media (max-width: 600px) {
            align-items: center;
           
        }
        &_day {
            color: var(--text);
            font-size: 18px;
            font-weight: 500;
        }
        &_date {
            color: rgb(147, 156, 176);
            font-size: 14px;
            font-weight: 400;
        }
        &_img {
            width: 45px;
            height: 45px;
        }
        &_temp {
            color: var(--text);
            font-size: 18px;
            font-weight: 500;
        }
        &_temp2 {
            color: rgb(147, 156, 176);
            font-size: 13px;
            font-weight: 400;
        }
        &_info {
            color: rgb(147, 156, 176);
            font-size: 13px;
            font-weight: 400;
        }
    }
}